@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-secondary text-white font-montserrat;
  }
}

@layer components {
  .navbar-container {
    @apply flex items-center justify-between navbar-spacing max-w-container mx-auto;
  }
  .container-spacing {
    @apply py-layout max-w-container w-full mx-auto;
  }

  .auth-page {
    @apply max-w-[40%] mx-auto w-full px-layout;
  }

  .section-spacing {
    @apply my-section;
  }
}

@layer utilities {
  .navbar-spacing {
    @apply py-nav;
  }

  .my-gradient-border {
    border: 2px solid;
    border-image: linear-gradient(
        to bottom right,
        #ffffff00,
        #ffffff7d,
        #ffffff
      )
      1;
    border-radius: 1rem;
  }

  @layer utilities {
    .skeleton {
      @apply bg-gray-300 relative overflow-hidden;
    }

    .skeleton::after {
      content: "";
      position: absolute;
      top: 0;
      left: -150px;
      height: 100%;
      width: 150px;
      background: linear-gradient(
        to right,
        transparent 0%,
        rgba(255, 255, 255, 0.6) 50%,
        transparent 100%
      );
      animation: shimmer 1.5s infinite;
    }

    @keyframes shimmer {
      100% {
        transform: translateX(200%);
      }
    }
  }
}
