@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondary text-white font-sans;
  }
}

@layer components {
  .navbar-container {
    @apply flex items-center justify-between navbar-spacing max-w-container mx-auto;
  }
  .container-spacing {
    @apply px-layout max-w-container w-full mx-auto;
  }

  .section-spacing {
    @apply my-section;
  }
}

@layer utilities {
  .navbar-spacing {
    @apply p-nav;
  }
}
